<%- include('partials/header'); -%>
<div class="container">
  <!-- navbar section -->
  <%- include('navbar'); -%>
  <!-- product section -->
  <%- include('overview'); -%>
  <!-- footer section -->
  <%- include('lastSection'); -%>
</div>
<%- include('partials/footer'); -%>
