<%- include('partials/header'); -%>
<div class="container">
  <!-- navbar section -->
  <%- include('partials/navbar'); -%>
  <!-- product section -->
  <%- include('partials/body'); -%>
  <!-- footer section -->
  <%- include('partials/lastSection'); -%>
</div>
<%- include('partials/footer'); -%>
