<%- include('partials/header') %>
<!-- navbar section -->
<%- include('navbar'); -%>
      <div class="cardId">
        <div class="cardId-img">
            <div class="operations__tab-container">
              <button
                class="btn operations__tab operations__tab--1 operations__tab--active"
                data-tab="1">
                <span><img class="img-tab" src=<%= product.thumbnail %> alt="img"></span>
              </button>
              <button class="btn operations__tab operations__tab--2" data-tab="2">
                <span><img class="img-tab" src=<%= product.images[0] %> alt="img"></span>
              </button>
              <button class="btn operations__tab operations__tab--3" data-tab="3">
                <span><img class="img-tab" src=<%= product.images[1] %> alt="img"></span>
              </button>
              <button class="btn operations__tab operations__tab--4" data-tab="4">
                <span><img class="img-tab" src=<%= product.images[2] %> alt="img"></span>
              </button>
              <button class="btn operations__tab operations__tab--5" data-tab="5">
                <span><img class="img-tab" src=<%= product.images[3] %> alt="img"></span>
              </button>
            </div>

            <div class="operations">
              <div class="operations__content operations__content--1 operations__content--active">
                <article class="operations-article">
                  <img class="img-tab-ac" src=<%= product.thumbnail %> alt="img">
                </article>
              </div>
       
       
              <!-- /// -->
              <div class="operations__content operations__content--2">
                <article class="operations-article">
                  <img class="img-tab-ac" src=<%= product.images[0] %> alt="img">
                </article>
              </div>
       
       
              <!-- /// -->
              <div class="operations__content operations__content--3">
                <article class="operations-article">
                  <img class="img-tab-ac" src=<%= product.images[1] %> alt="img">
                </article>
              </div>
       

              <!-- /// -->
              <div class="operations__content operations__content--4">
                <article class="operations-article">
                  <img class="img-tab-ac" src=<%= product.images[2] %> alt="img">
                </article>
              </div>


              <!-- /// -->
              <div class="operations__content operations__content--5">
                <article class="operations-article">
                  <img class="img-tab-ac" src=<%= product.images[3] %> alt="img">
                </article>
              </div>
            </div>
        </div>
        <div class="cardId-content">
            <h1><%= product.title %></h1>
            <p><%= product.description %></p>
            <div class="ratingId">
              <h3>discount percentage: <span>-<%= product.discountPercentage %>%</span></h3>
              <p class="p-ratingId"><%= product.rating %> rating</p>
            </div>
            <div class="buy-btn">
              <h3>$<%= product.price %></h3>
              <button class="cardId-btn" type="submit">BUY</button>
            </div>
        </div>
    </div>
    
<!--  <%- include('reviewCard', { review: { user: { name: 'John', photo: 'john.jpg' }, review: 'Great experience', rating: 4 } }) %> -->
  <section class="section-reviews">
    <div class="reviews">
      <% product.reviews.forEach(review => { %>
        <% include('reviewCard', { review: review }) %>
      <% }) %>
    </div>
  </section>
  <%- include('partials/footer') %>