<%- include('partials/header'); -%>
<!-- navbar section -->
<%- include('partials/navbar'); -%>
    <div class="cardId">
        <div class="cardId-img">
            <img src=<%= thumbnail %> alt="img">
        </div>
        <div class="cardId-content">
            <h1><%= productTitle %></h1>
            <p><%= description %></p>
            <h3><%= price %>$</h3>
            <h3>discount percentage: <span>-<%= discountPercentage %>%</span></h3>
            <div class="ratingId">
                <p class="p-ratingId"><%= rating %></p>
                <i class="lni lni-star-fill"></i>
            </div>
            <form action="/">
                <button class="cardId-btn" type="submit">BUY</button>
            </form>
        </div>
    </div>
<%- include('partials/footer'); -%>